/* Foglio di reset per margini bordi e padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Foglio di reset per margini bordi e padding */

/* Contenitore di tutto */
.container {
  height: 1000px;
  background-color: red;
  /* La dichiarazione che segue agirà sul file immagine che è un inline-block centrandola all'interno del div container. Questa proprietà mi tornerà utile quando dovrò centrare il cuoricino all'interno del box-product */
  text-align: center;
}
/* Contenitore di tutto */

.discount {
  background-color: green;
}
