/* Foglio di reset per margini bordi e padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Foglio di reset per margini bordi e padding */

/* Contenitore di tutto */
.container {
  height: 1000px;
  background-color: red;
}
