/* Foglio di reset per margini bordi e padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Foglio di reset per margini bordi e padding */

/* Contenitore di tutto */
.container {
  /* La dichiarazione che segue agirà sul file immagine che è un inline-block centrandola all'interno del div container. Questa proprietà mi tornerà utile quando dovrò centrare il cuoricino all'interno del box-product (al momento del cambiamento della sua proprietà di display) */
  text-align: center;
  margin-top: 20px;
}
/* Contenitore di tutto */

.row {
  margin-bottom: 25px;
}

.box-product {
  display: inline-block;
  position: relative;
}

.discount {
  background-color: green;
  position: absolute;
  top: 0;
  right:0;
}

.desired {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  color: red;
  display: none;
}


.box-product:hover .desired {
  display: block;
}

/* La regola che segue andrà a selezionare la classe discount discendente dal secondo figlio (box-product) di ogni riga */
.row :nth-child(2)  .discount {
  background-color: red;
}
