* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  height: 1000px;
  background-color: red;
  /* Stavolta utilizzando una dimensione per il container applicherò la dichiarazione che segue per centrarlo */
  margin: auto;
}
